/* Text on general tab bar */

.tab-text:not([pinned]) {
    margin-top: 1px !important;
    margin-left: 6px !important;
}

.tabbrowser-tab:not([zen-glance-tab="true"])>.tab-stack>.tab-background {
    height: 40px !important;
}

/* reduce favicon sizes */
.tabbrowser-tab:not([zen-glance-tab="true"])>.tab-stack>.tab-content>.tab-icon-stack>.tab-icon-image:not([pinned]) {
    width: 14px !important;
    height: 14px !important;
    margin-left: 3.5px !important;
}

/* Hides the splitter/resize bar, but still functional */
#zen-sidebar-splitter {
    opacity: 0 !important;
    border: none !important;
}

/* Common pointer events */
.titlebar-buttonbox-container,
.titlebar-buttonbox,
.titlebar-button,
#urlbar,
#urlbar-input,
.urlbarView-body-outer,
.urlbarView-body-inner {
    pointer-events: auto !important;
}

/*Transition for tab background */
.tabbrowser-tab .tab-background {
    transition: background-color 0.2s ease;
    box-shadow: none !important;
}

/* Bottom fade for tabs overflow */
#zen-tabs-wrapper {
    mask-image: linear-gradient(to top, transparent, black 20px) !important;
}

@media (-moz-bool-pref: "lacuna.tab.pinned-tabs-bg") {
    .tabbrowser-tab[pinned]:not([zen-essential="true"]) {
        .tab-background {
            background-color: light-dark(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)) !important;
        }

        &:hover .tab-background {
            background-color: light-dark(rgba(255, 255, 255, 0.45), rgba(0, 0, 0, 0.45)) !important;
        }
    }
}

/*When tabs are selected/active */
.tabbrowser-tab .tab-background:is([selected], [multiselected]) {
    background-color: light-dark(color-mix(in srgb, #fefefe 45%, transparent),
            color-mix(in srgb, #000000 35%, transparent)) !important;
}

tab-group:has([selected="true"]) {
    background-color: transparent !important;

    &:hover {
        background-color: light-dark(color-mix(in srgb, #fefefe 10%, transparent),
                color-mix(in srgb, #000000 10%, transparent)) !important;
    }

    .tabbrowser-tab .tab-background:is([selected], [multiselected]) {
        background-color: light-dark(color-mix(in srgb, #fefefe 45%, transparent),
                color-mix(in srgb, #000000 35%, transparent)) !important;
    }

    .tabbrowser-tab .tab-background:not(:is([selected], [multiselected])) {
        background-color: transparent !important;
    }
}

/*Styling for Tab close button*/
.tab-close-button {
    width: 18px !important;
    height: 18px !important;
    padding: 5px !important;
    border-radius: 20px !important;
}

/*Tab close button colors, also for hover*/
.close-icon {
    background-color: color-mix(in srgb,
            currentColor 10%,
            transparent) !important;
}

.close-icon:hover {
    transition: 0.5s !important;
    background-color: color-mix(in srgb,
            currentColor 20%,
            transparent) !important;
}